Source: cameraplus
Section: user/multimedia
Priority: optional
Maintainer: Mohammed Sameer <msameer@foolab.org>
Build-Depends: debhelper (>= 7.1), applauncherd-dev, libqmsystem2-dev, libresourceqt-dev,
	       libquill-dev, meego-gstreamer0.10-interfaces-dev, libgstreamer0.10-dev,
	       libgstreamer-plugins-base0.10-dev, gstreamer0.10-plugins-bad-dev,
	       libcanberra-dev, libcontextsubscriber-dev, libqtm-location-dev,
	       libqtsparql-dev, libqtm-systeminfo-dev,
	       aegis-builder
Standards-Version: 3.9.1

Package: cameraplus
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
XB-Maemo-Display-Name: Camera+
XB-Maemo-Flags: visible
XB-Meego-Desktop-Entry-Filename: cameraplus
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABHNCSVQICAgI
 fAhkiAAAAAlwSFlzAAAB+gAAAfoBF4pEbwAAABl0RVh0U29mdHdhcmUAd3d3
 Lmlua3NjYXBlLm9yZ5vuPBoAAAARdEVYdFRpdGxlAENhbWVyYSBMZW5zhAKw
 GAAAABV0RVh0QXV0aG9yAExlZnRvdmVyIEJhY29uKqfDzAAAABp0RVh0RGVz
 Y3JpcHRpb24AQSBjYW1lcmEgbGVucy4590eRAAAAGHRFWHRDcmVhdGlvbiBU
 aW1lADIwMDctMTEtMDkyGgxxAAAZoklEQVR4nMWbeawl153XP79zTi13fWv3
 e73ZbXc7Me4himaQx4NgpIACKAyjEBEhgYSUiCUCoRmYP4ZFxFiIAcE/IATS
 iAgkEIwmjWA0wEghChYCMYwtBkjixLHbS7v7dft191vufqvqLPxxquq9191u
 2zMdOK1SVd/7TlX9vr99uRJC4Ie5RORJY8w/0Vpf1lqviEhfKZVprZVSSokI
 zjnvvfchhMI5N/Xej7z318qy/PMhhOs/1Pf7YQAgIn84TdO/k2XZJ7Isy/I8
 bz5vz0rUfZugeZfm7xaLBcvlslgul28URfFXQwj/8bG/6+MCQETOZ1n2rSzL
 Lud5rtI0jYSiSExCL+1htCHVKalJMdogIpHYAJWvqGxF5Suss8zLOdZbPJ4Q
 AkVRsFgs/GKxuLZcLn9/COHmY3nv3y4AIpJnWfbfOp3Oj/Z6PVFKoUSRJznD
 fMhad5V+NoAQEIlgKAQX3Akp0NoAgbIqAVBKMS2mHCwOmZQTFuUCHyIY4/E4
 TKfT31wul78nhLD8/wZAlmX/Ls/zn+73+8poQ6ITNnobbPQ36KYdRBQqgoQE
 wWiDRhMkPlOhEBEC9f9F4Qk4b/GE9rtAYFEt2J8ecG92j9KVOO84PDz00+n0
 V4ui+KP/TwEwxnyx2+3+636vb5IkITEJG911Tg9Pk5oUJYJGo0RhlEaLQolg
 xOCwBB+AgNEGAO89AdBaY1SCDRYAFwI+eJz3BIlAFK7i7uQO92Z7VK6iqioO
 Dg/seDz+E9baqz90ANI0/UfD4fAvdDodSUzCZm+TU8NNMpNh0OhaBTRCYgwE
 j0IQASOaQEAhpDpB1frvCbjgCICg8BJlwocAovAh4ILHBQ9KcN6xdAV3Rne4
 O7+HdZbpdBr29vb+8XK5/Is/NADyPP/11dXVF7I0o5d1Obt2ln7WJ1MJENBK
 kSiNUVH0tUg8lCDe40uHFkjQJKJbFXDB4QhYHA7BZCkoRUCwBLwPeBE8gdJZ
 PCCiqHzFeDlh5/AW83LOfDHnzp07/2M+n//EYwVARPJut3t9dWX1dJokrPZW
 2V7Zpp/1CN6hRZEajRGFEUWiBKME5QPKWYa6w5O9bc72TrPRWaOr8lYtaiuB
 D4GZX7A3P+D27C7X57eZhAJnNMokVMFjfcABNgQq7/AhoFXCpJhwa3Sb0WJE
 UZbs3tm9Mx6Pn/woBvJDARCRvNfrHayvreepSTi9cpqN3jqJjrptlJAqjVFg
 FKRaoUrHqs55cnCay+tP0tUpCQqtBBMiSFoUOii0aIJQi3jABo8Vjw2BuS15
 8+Bdrk93GYUS1ckonccGwSOU3mFdICihdJa92R7vH75P5Sy3bt9ajkajtQ8D
 4UMB6PV6u5sbG6eNMVxYP08v7ZIaQ6oNWWpIlYC1pFqhvWWI4XeeusTZwSaJ
 QILCiLTSoQBNBE+jEWLQ40PA0aiCx0PkeghUIXBrco//c/dNFokQkpTCB0JQ
 LL3FBcGFQGkt02rGjb2bVLbi5s7OndFotPVbBqDb7f73jfX1n0jTlDOrZxhk
 XfIkpdvJWV9bYdjvQnD4xRK3t8ezq2e4MNwmrVUgaWwA0QA2hAuga/0HiF5Q
 cDHsiZY/eBzgCFTB44JQOM/10W1+ML5FlWVUgMdQOEdpo50obMV4OeX26DbL
 ouDGzZu/Pp1Of/fHBqDT6fyDtdXVn8nznNMrp1jtDMiTlETBmbPbnDq1ztbZ
 bXxRIIcjntarhMNxVAUREgStFAaFSCRYKY0KMQwWGv2vMQiBIKEGIOq3J+AI
 OB8lwQJVCJQefmPnNaZG4ZOU0gUqJyydJYhmaS0H8xG7ozvM53Nu3b79D2ez
 2c9+ZAC63e4XhoPBv+l2u7LRX2ejv0pqonEb9rucPbvNpWef4fKnPsVGp0vx
 /beZ3rxJtXsHFY6svxKFibyORNdGT0SQVvgj96MgxH8xLqjBOCYRNkRAKh+o
 PHz/7nVu2Tm602dhPTZoltZjA5TesTc95N5kj9FoFHbv3Plj8/n8395Pq3kY
 Klma/lK325FBp8dKr18TD5kOpOLIdABbcnFrC11UvO8LFBZPiQABjQ+CiMbi
 W2svoT7fR34rBYQ6LvA1FESrUEsDNSQCiHg+cWqbzuge16Z79PqrzK3Fa5Ag
 IIrVXp/SlYiILJbLXwKyDwVg0OtdXd/YSBOdsNobkicGhSXVQq412pdUk31W
 F1vc+V+/CWVJcbhPOR/hfYWgCOLRKLx3aIlgaKXJ0gyt9X28P7oOBJxz2Moe
 SUGIZ1eD4up8AAkQPNvDPj6UXJ+Pybs9tFLMKocX6KQpa70hy3LJ5sZGOuz3
 r46n0y9+IAAXRDrZ+toX0iRhpdsnM5H4LNFkGhJl0c7TXyj0bML+W2+gCPj5
 gvJwhBIhiKC8ivGeCDrVZFlGcIFZMSO4kynv/UspRZZliBaKosCW0SecVAuP
 94EQPBA41e8zLaccVku0SegYBS6wqEryRLPS6+ODZ7gy/MIFkc6NEBYPBeCg
 1/3W1sqK6mQpvTwn1ZAqT6aEVEGmYeAqtns9prs3KZJGwwOaSHQUfSFLMrq9
 LuWyZP9w/0jv6zMf5Hw8LKoFgUCe53QGHWbzGdbbWhWiBLhaKUJwIIELa+ss
 7t5CzBBUVBTrAwRh2OlR2JLTp0+rtybTbwGtV2gB6IqcH54+9eOJ1vTzDplR
 GHFkWpHpQKbBFHOePL1FCBVBNM56vEgkXh3peK/fQynFvf17R0SHIwCOi74c
 M4DNubEF5bwkzAP9QZ9EJ8zn8zYl9vhWHXyI0vDk6jpvHNwlHa7jQyAz4CtH
 omHY6VFWJevraz/eFTk/r+sJppFH0+99Y9gfqDxJyI3BiCdVQmoCiXjEVWz3
 ciC6qJihReseRCEuXq+urlKWJcv58kGuC6ig2uvjqhAzRFq9b1YIgb3DPTrd
 Dt1Bl8PRId771jaEOlHyIRDEsZkm3CvnpEkHLwHnY1aZGkWepJza2FTj8fgb
 wJUjAAJ0t7qf0Ebo5nkd1joyY0gEjA6ky4LuSo8QXMzKgsLLMZ+uFOur64wm
 I6qqOmHpmxLYA2WwY0s4qguEEAk7LhXlpCRJE3qDHgeHB0eSEHy0CSEQfKDf
 ydg73MdkOR5wOlA5RyLQzTIKVzIYDD4BIhCCQUSGveyzmxu5SZQmN9HgZVpI
 VCBVnlAWbHRTgndYPPp+4kUx6A+YzCfM5jMaUEsbCxcAzrs6t3c477Dett8Z
 ZdBKt2elFErFe2ulY41BKZbzJV48WSdjPB23QDVgOO9xBFZSw8F8gu70MCqQ
 qECiIE80idIM+30z7GefHc/km4YAZiX9hTzP6OUZmdEkGnKtSJWgFWhXkJgM
 5ywBIdScbEQ7TVMKW3Dj1g2KsmBRLSltCQFEScvVj7Na1aj3ZSajk+TkWc75
 s+fx4qmqqlWDNohygTxJYDJBdzsYEXKjqLwnM5p+nuNCIM+6v8C0+KbhJSTv
 5M8lWtHNMjItdIyQGsFoCK5ikCgIHice76Tl7rJcsrQF586d4zvf+26rxz6E
 yEEV9zUW/6NCIJHy+kII3jNdzpgXc5jCrYPbXL58mVt3b5GZlE7WIUszatuJ
 956O8hRVQZJEVegkimChk6XMiiW9fu85XjoQefbi9sXCm3fWhwM2BwMGidBL
 hK4RUg0Uc7Y7CSJQ2ZJFsaQoC1xw4GG4ugLA3Xv3jrgsglK6dlMN8aF9wYeB
 IcfPcsxL1PbSe9feTEQ4tbkJwPhwBAq00uRJRifrYExCCHDgFfnKOoWDhQ3M
 qsDMCfcmE+7sH1DODp7S1oZ/trm58Tt6Wcowy8gMdOrQ12iB5RR8yWQ+Zr6c
 U9oqGhwCHtja3ub6jZv4AB6wAYIyWB+wQbABKg82CJWHKsTD+vh55evrEPfa
 AK7e5wEXohUPorC+8f3CfD7n7LmzHBwetqpS2ipKZbnEe09lLdlghRAgiOAA
 H2IdQYzhvZvvP2nSLL1sROiYBCOh9gCCiGO5LFDLCVN9pI++5qoPoLRmuihZ
 Wo+vXxTR4ENd0Gxqe3FPU+cLtQg0UnDEdVAS/YEIqPYz0AIEgeDqRAumixIv
 Gu8cSkJt1+NzKzvFeVDzNZKsgxGDUQGjArlJmEtJnmWXTaL1qhIwRqEFFNG4
 ePH4YkEuAReOiHah9q3A1qlTvL2zy6T0WB+/Fw02eJyP0ZgPoQagPtfif79N
 bES9IVhqImMiFTBK0ALBBVTNqLd3djmzdYrd92+jIRpskRYMCCznU0RrbLAo
 MRjRsWolkCbJqtFaD5qHWFtQBo9Jo5X3zlH5OknxURytj+moDbBhOtw6mEZx
 91FMQ13O8kHqAKUBL7SEB6L0dDtdAOaLOd65Oss7JgnScF9Q4jEiSAhI8Bgl
 TMspp849waT0GIFEC6aWFq3ifbS19bM9VVVQ+bompRTG6IHRRuVaCWW1JE3r
 YCUQK7J1LG3r/LvyIRYfPJQuMPGaw8JT1eCgqOt7xGSFWMkN9f3iOdDpdCic
 Y/9gD4Be3sekKfPFoo4cacFQdYikVCRMYlaMlujfp15zWARSLSQu1PmLYEJU
 Ze98/WK1EQ7RNiiBJElyY7RJjidmgRDFWWBROcQFCheo6nNZE289TK3isIji
 70JAGQUSud6IfTip6SitmRWW7FzCxplNAoHJu3PKvYAj6vNxP9EAEtWhrhfY
 aAeMgolVHJYBI6EN3jItJFpiBltauj7UPYYoggKxQGtMYrQSpVQsTYfaUiOR
 W5OiggCFDRQeSldbbhdVYe4V06rRbcHoWOhqxDx2fI+ICUC322NvtMfK9mmG
 lzsED66C92/usbG6yWQyadMkauKpDWl8f491tVQIzL1iUkYbsfTEwo2H1AUy
 IyRS0vcRSOtjWybgQcBorUxDrANK50FUrcMwLgPOecpW9EN0UT7ahMJBWRu/
 QAAXEBWO8e/4Rf3fEA1ZWVaUyzQCYD2Nm2/Bu29zbdMIPlD60BrL6ONBqYBp
 VUNItZBaT05gtYpgBaByvvVkIoKprPcuBO2Cogxgq2hBHTB3iqK0tc+O3sB5
 H/U5ynON6hGXVHiA5hNrNp/T6w4YXZ/jbIwSpzsL+r0Bs/n8wb3Hokipn+FD
 E3HGd6gCiIvEaSWUElXVSMAnikkVDSjE2KLy9dk6b1zwlfVocT4WM6itfoC5
 i+JvG4PWcqgmWtQJjvlavx61nHPkeQ5juHM7BjGD3oAkSSjL8pF72zjiOEqi
 cPVzY8QITqDy0VOYoFjYgK5do4iKRt0FSltVxrkw90hufey2SO3yRAQvisrH
 5CeWreFEFS/esf1/qHOAD1uLxQKtNVunYs9iNpuxWCw+0l5r7clymghS9xog
 eqGj3mEgKE3loCJGtqEGKYjCWj83lXNjF1j3ISA+9uQRIfiAR1FUFUrrE5Fb
 syaTCYPBgPF4DETueu/5KMt7z2Edxn6c5Zxrc47hcMhkMnngmU1k6Z0DZbC1
 vsfsu4lHApV1Y2Wt3W8srkfw0Mb1WZ7XxiJmduq+49133+XZZ589GnWpCbv/
 7x7X0RDaPO/ZZ5/l3XfffeDvRCmkVs9ur3eCJt8qi1BU5b5xzl8L8KONvwnN
 AxCSJMUkyQdWcKuqYjAYPPCZ1vojifPHWd57rLUnPhsMBrH69AHvl+U5aVq3
 AkQeyESryl7TnU7nN7TWP5skiRyf4mr02VpLVVWPfLmNjQ329/dPvKzW+mMT
 +ahVluWJosozzzzDeDxu1e/+FUJgOBy2DDpOE8BoNAqHh4efU/v7+zfKspwp
 pVrREpH2D7vdLs65E98dP3Z2drh48eIJLjTc+qA9H/ew1p7QcxHh4sWL7Ozs
 fOAe5xzD4bD9e6ClSUSYTqez/f39GwqgKIpvN1/cL7p5nmOMeeQLvv766zz/
 /PMPvPTjAOFh93n++ed5/fXXH7kvyzK63W5LcKPWDaPns/m3gdieLcvyq0VR
 tEgdr+bCka611dr7jr29PYqi4PLlyyc+L8uSxWLRWu6PczjnWCwWreg3x+XL
 lymKgr29vQ/cW1UV6+vrJ2gQpK1PzmYzikXxVSCWdUd/efRyURSlFh2rs9pg
 tEEphVaalZWVON/3CAt97do1zp8/z9bW1glONEA45z6ytXfOtYQfv9fW1hbn
 z5/n2rVrj9yf5zkb6xsnPtM60qaVZjablfuj/ZdbCeBFWC6Xr4mSaMF13NCA
 oESxuraKd74VpYetV199lStXrvDMM888YJDKsmQ+n7NcLrHWtjGD9z42RK2l
 KArm8/kDBg+i0bty5QqvvvrqQ5/dcNs5x+nTp1Fa1WN6kZmNZxIRZtPZa1yN
 RCgCgZfg0plLPzUZT3xTi090glFx+NEYw8pwhTzLj+r2oh4KxiuvvEK/3+eF
 F154wD01ol0UBcvlksVi0cwDx0aotQ8QLiK88MIL9Pt9XnnllZPf1V0nJTWX
 RdPr9FhfWyfRcX5R60iLVnFuce/enn/m/DN/5CpxpLAZkJCrV6+qn/tLP/fN
 M2fOfKbZqFBtubbh0u1bt1FGte0poK3NN9cEWF9f57krz/HOO+/wgx/84AO5
 9qj1yU9+kqeeeorXXnuNg/2DhuqTNirQcpYATz/9NFmWoZU+YpDExkxlK958
 882Xr/61q3/wx/7sjzkRCUcTIi+hvvI/v5K//P2XD05tnkqb0VclEQQRwXvP
 YrFgd3cXY0xsSwV/1Ku7r50VQuDChQtcuHCByWTCa997jdHh6JFEr6yucOW5
 KwwGA27cuMGNGzeOJCkctdmOt9ukDt0vPHGBQX+AVvoILImDlZWr2NnZKT//
 k5/f+OpPfnXBF2NWfARAXYw9d+bcPz9/7vyfyvM8TnYnaXxQLQ0hBMajMaPD
 EVrro5ZXcCeGGo5fAyRJwqVLl+j3+y2x1tnW9TZcnc6mvHXtLaqyarl9nOhG
 RRuRVxKl8fTW6dbwQexI+eCpXIX1ltlixhtvvPEv3/0X7375pf/ykn/xxRc9
 PDgjJFxFXfr5S+Oz22e7WZKRmrTVIS26tewH+wcsZ0uMMW2/L/bn4nUcfa3n
 fZrW1bGzyFEztMX/uNXnQU4rUa0uNyA461hZW+HU1qkTIu/xVLaidCWlK3nn
 3Xfm3/mZ76xyG8eLtFHVw4ak5MKZCz+1trn2K2srayozGXmat0bRKNPq23Qy
 ZTaakZjkiOONZQ/uqHtbt8ea4YZGRahrC81LN1Njx0EQJRF4ag91rBttnWV1
 c5W19bUTYDpi87W0Jctqye7dXb+7s/uFt2++/e9pBtDr9bAhqXDj9o3/cPb0
 2b+XJMnP674W62x0KfV0d2N111bX6GQdJgcT8jSPRNYi39qE+miIfZgUCNLq
 93Gxb8Boxf8YKNZbts5txWhPxT0++PgjC++xLgJwOD4MO+/t/P33vvLeA8R/
 kAS03z1x7olvnDt/7rO9vEcv75HohCzJ0KJJVNLqrXOO8d6YYAOJSY6M4fFb
 3/+Ypo7YPEweElucqHschcY602xub6KNrgc0QmuHSldS2pJ5OWc6n3LtzWvf
 fOvLb/0h/uaDxH8YACCoJy488ebFCxef7mQdulmX3OTxJy91gHE8DljMFkzH
 U7SPwRR1G6jldPiwgtlJwhspQepCiA6sbqxGQyrR/TWTItZbCltQupJ5MWdR
 Lnj9B6+/c+13XXtGrooPH0DoQ+cE2xXwl566dOX6zeu3Lly4sKakngOqI6wQ
 QtRPFbnTH/Tp9/vMJjNmkxniBG30EQgSTnL+ZMvghOhD7cKsQxJhZWOF4drw
 hIq0c4Xetzq/KBfMyzlvXXvr4MKTF57j67iHMP7oGR9lcOEzT30mv+6vf+/c
 uXNPDboD8iSnk3boJJ2YNygTXVKTSfpIVFEWLGdLikWBq1yUGBX12ONPANAY
 wMaLmMSQ9TL6/T7Nr86AGLzXtsYHjw2WZbVkXs1ZFksm8wlvv/32O5+uPn3l
 6ze+vuBD1kf/wcRLqIv/9OKvbZ/Z/gNrwzXJTOzF5ybGC4lOTvjmRnQhcrKq
 KpazJQRw9igPgNjbVybmH6KEbr+LScyDdqFWBRdi7FH5ikW1YFkuKWzBvcN7
 4cZ7N/7TW19663PHXd2j1qNV4Ph6Ef8lvvS5r/3i1/5WVVZ/ZXNjU3nizI81
 lizEKVAjMfHQIcYMSseKcpIkZKvZCf9/P4EicczOEdtj98cP3nsscbaotNG/
 L8oFpS3Zvbvrd3Z2/u6X/8yX/8ZHJR4+jgQc2/PkuSc/l3fyX97e3u71u/1W
 ArIki95BSTxLjNoav91MiT2M8Pa6juDwRzPDbVxBiO6tKilDiXWWyWLCzZs3
 Z5PR5I9f37n+a3z0SZzfMgBxvYQ694vnvra2svYnt7e20zzN28wrMXXkiG5r
 Co1KaKnj9LrVc7/Ra2xDG0/UeYbDYZ2Nh491yps7N8vde7v/aufP7fzpj8P1
 xwNAvf8zn/lM9vabb//q2vra7zu1eUprHWMErXU8GpugjgUyx6ozDeFtoHSM
 gd77dk7YOUflK7z37N7ZdXfv3v3PT1166qdffvnlgo/J9ccJQHufH3n6R7bG
 5fhXhsPhpwbDQWfYH7Zir7Vu9RuJvw9sw+Dj8XvwSJA2ZG5Dae8ZT8eMDkeL
 0Xj07b7uf/67b39397dDePvij+u3w/FusWt6/vz536tQLw1WBp/u9/org8FA
 mhT1eHrd2IQ2NObIQPrgm5/IjkaHo//tgnvx5s2b/7VtXj6uV36sAJy4cwTj
 2SeePTv1079tjHkmTdINrfWKNrpntMmSJDEA1lprnS2cdTNr7aiy1Z5z7s0u
 3b/++nuv33rcRB9f/xc9n6MfPlVrqgAAAABJRU5ErkJggg==
Description: Advanced user friendly camera
 Camera+ is an advanced yet user friendly camera
 application for MeeGo Harmattan
