Source: cameraplus
Section: user/multimedia
Priority: optional
Maintainer: Mohammed Sameer <msameer@foolab.org>
Build-Depends: debhelper (>= 7.1), applauncherd-dev, libqmsystem2-dev, libresourceqt-dev,
	       libquill-dev, meego-gstreamer0.10-interfaces-dev, libgstreamer0.10-dev,
	       libgstreamer-plugins-base0.10-dev, gstreamer0.10-plugins-bad-dev,
	       libcanberra-dev, libcontextsubscriber-dev, libqtm-location-dev,
	       libqtsparql-dev, libqtm-systeminfo-dev,
	       aegis-builder
Standards-Version: 3.9.1

Package: cameraplus
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, context-profile
XB-Maemo-Display-Name: Camera+
XB-Maemo-Flags: visible
XB-Meego-Desktop-Entry-Filename: cameraplus
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABHNCSVQICAgIfAhkiAAAAAlwSFlz
 AAABuwAAAbsBOuzj4gAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAABPKSURB
 VHic5ZtpjGRXdcd/976lXu29VC/T3bN7GY9tjGUwjhDgYXFEAAfHEQaSODJCchCKhES+mCCiKCRR
 lHzKx+RLFEV8IAQQxEQIvBCMFzw2Y4/xeDwznp529/RSVV1de73l3psPtXRVdfdMz3hsInGkp3q1
 vHvP/3/POffcc28JYwy/zSJ/0wr8puW3ngD7ne5QCCH633Zee35o3mGffFsJ6IAVtC3NmpiYcO6/
 //7JycnJWcdxZl3XnVZKiUajsdJqtZbW1taWhBBrQAgoQAP67SRFXOu2+0Bbt956a+qee+75SDqd
 vi8Igo9FUTQWBIEVBAFhGOL7PsYYLMtCSollWQghtBBi3RjzWKVS+d6TTz75+MrKSpU2KdecjGtG
 QAe4nJqa8h5++OHP2Lb9QBiGHyqXy16lUkEphdYapRRBECClJAxDoihCCIFSCtd1ATDGYIwhkUjg
 eV4LeMr3/W//+Mc//napVKoD6loRcU0IEEJYgPu1r33t/ng8/vfFYnGuC9oYg9AaKwypA8VikSiK
 ehZg2zaJRIJisYjneSQSCZLJJI5S+EKgtQbA8zxSqdRSqVT6xqOPPvodoME1IOItEdAZdferX/3q
 3ePj4/+0vr5+y/r6OsYYtNa9kfRaLaYqFc6NjVEsFkkmk2itkVL2fuv7PpZlEUURo0IwU6txKp3u
 tdFtr2MVrxYKhUeeeOKJx4CWMUa94wQIIaw777xz5L777vvXarV639raWk/JfvDd+5axWNFJ6sah
 iUMDhxYOBvC0j2cCXO0T1y3GohK28re00b0HSCaTSCl/+Mwzz/xZoVDIA9HVWMNVESCEsB944IHr
 b7/99u8uLS0daTQa2ypbVjZv6jSLOkPBJJCBwqn5WK2QmB8Ri9pgfFvix2yU5xCmYmjXYkRVmAjz
 5Pw8cVXflgjbtkmlUmfPnTv3wKlTp14F/Csl4YoI6Ji88+Uvf/lDs7Oz315YWBgJw3AL+A3l8GIw
 waJO49Z8RvJVRlohjtJIS4IUGK0JVQCAY7kIKUEbtNKElmTDc9iYSBOkYuTCPIfqZ4hHtS1EAGQy
 mcrKysqfnjhx4idA0xijrzkBXX9/5JFHPu953r8sLS3Z3SDXVaqpJSf8cc6EGRKFOrPFBg4Gg6YR
 VajVCzTLG0StJioKB9q3bAfbixPPjpBK5kjYGQSSEMHSeIJGLsl0a4l99TM99+gnIp1OR7Va7SvP
 PffcvwP13ZJwJQS4Dz/88IdnZmZ+uLi4aA+b45thnJ83JpGVkLnVOp6AlqpSWn+Tan4Vow1axDDC
 ASwQEtPJxAUajAYUwoRI4yOkID0xxejYXjwrTcvA4lSSKGVxQ+Uk2dbqFstLpVJRPp///Kuvvvoj
 oLEbd9gVAUII+9577z161113/Wx+fn5keORfaWZ4sTnKxJtVJrQhUHWK+TeorK2grQRGxjvAdy/C
 hAjdRKoGmclpxicO4VpJ8lKwtjfFvtoZputvbIkLmUymevbs2Y9fvHjxRdozxCUBXpYAIYR10003
 TT744IM/u3DhwvX9Ph8qwzO1UeYbCeaW6iQxrFfnKSycw8g4ysmCsK4I+BYxCissI3ST3L7DjKUP
 UEewOJtkJFxmf/kkaNUjQghBMpk8f/Lkyd+tVCoXjDHBVRPQ8fvkN7/5zW+trq5+ajjaP1UZZaES
 40AhQOqI1ZVXqBXXUfEJjHTfGvBhXXSA1cyTGh9javoWtLSZz7lk9Cp7SycG9LIsC8dxfnr8+PE/
 AoqXyhMuR4D7xS9+8ZOTk5P/tbo66HOv1JP8qpLm8FoIqsXS+RfwWxEqOb3jqGdjK2AMKediLyXu
 ZoVhGKLEKMYaAzsH9vjWBozCqq8Q82xmD94Blse5SYfp+uvkqucG3CEWi1Eqlb4wPz//HaC2kyvs
 WA8QQkggs3///r9bW1sbDHgtl19VUsythUhUG3woUNm9YLtgWQNX1ltlX+YE2dgKmdhKG0ufPt17
 oYrQOg21X0D9adClwbZsF5Xdix8Kls6/gEQxtxaynLyOspsb0LHRaDAyMvJ1YBLYMQBdqiDifulL
 X3qgXC7f2J/hNZXgqfUM48WIhCVZXXoZP9Co7BzYDth27/LcBvuSL5B1ly/RDQyWCDoSFqDyc6g+
 NdAmtoPKzuEHmtWll0lYklxRsZh9F6FwB6wgDMNDBw8e/CyQFNt2sgMBQgiZTCZHpqenvz6c279U
 jkNDk7MdSsUz1Eol1Nj+tnJ9ozXlnmLSOXVJ4JclASDIw+p/gir2WYKNGttPrVSiVDxDznawWoJ8
 8vCAFbRaLRKJxFeAaXawgp0swH3ooYc+VyqVpvvBlwPJmWqMmcAhCGsUF86hxg+B44Fl964p+9fE
 ROWSgLdzSSHEzkQUHoeouNmP46HGD1FcOEcQ1pgJHMrxWXwrOWAFQRDk9u7d+zl2sIItBHR8P5HJ
 ZO6vVCoDjb1Y8oi1IGZZlJZOY5JjmEQabKt3TcmXiVG+JPCrXoGu/QSifK8vk0hjkmOUlk4Tsyxi
 LUEhdT3GGHzfx/d9giAgFot9AhhjmwrYdhZg5XK5CSnle/sTnnIAi3WbaeIE/gaVwhpqfN/AyHuy
 SsxsXB243crGywN9qvF9VAprBP4G08SpuxMEVgKtdX9ucKtt2zOAO2wFAwR0Fzv33HPPxyqVitvv
 T4t1GzsEx5KUl8+is1MQSwz4/WR4/O0FD9BchtKJzX5jCXR2ivLyWRxLYodQd3O9KlMURQRB4IyM
 jHwUSLJZiN1KQEfiMzMzn6hUKgPBb7FmkTIuxmiqxTxmdHogOmfVG1eNaUe/30mKLwz0bUan2zoZ
 Tcq4NNwJLMvCsqxe2c3zvGNAehjzMAESSFiWdVe3hmeMoRVBsSHIuHH8eh5jOZjkyOBcH7x+Wb0v
 k3RdGRmF472+TXIEYzn49TwZN05gZ4iwe+6rlEJK+W5ghKE4sIUA13XTxphMf/BbqQvQ4Fo2jdIK
 Ojsx4IdZ//LguwT0+2Y/If0zQPf+krNC/eKADjo7QaO0gmvZCC3wnVGUUr26pFIq2SHA6Y8Dw1HR
 Onz48EwQBHIgqwollrEQlqRZLWNyB9qRuEeb2JLZCSG2jHg/8O5vule3Ptj/3PDzA5/XlzB9OpjM
 OM3CPGNWW9dIxvCkRAhBFEVIKaXjOLNhGA4sUrYQsGfPnr1BEAz4fzMEiQUCoiDoBL/NR1OVk/RX
 H3Yy9X7wXemCH/7NdsCHP1PNFXRqrv1BLNHWTbR1VcIdeFZrjeu6XQIEnd2oHoqOWdjpdHpPGIYD
 o9UMDI7loDEoFYHXif4diaJoR8DbEdD/nRCitzEyDH6n+66EzWWC7P72Gy+BUhGatq6RcHou0CVZ
 CDFFOyPc0QVkMpmc6u7Y9PL/0ODaDlHYAiEwXgLk5qNhGHK10j/6XUJ2Atz/PYBxXYKOJRovAUIQ
 hS1c2yEYynw7ZfgcQ5iHCRBKKWlZ1oALoHXbXoRsX93o35GdLGAn5ftGZMvrdqTsJIHjbMYiZXr6
 GRRmKNB2gq+kHfh3tAA2NjbW9+zZM7i2loqNKMRKZcCSCK0wrtd7ZtgCusFsGHx/wOt/352ztyNj
 JxIBmm6sF4tE6IMlsWJxgmYDGbUGqkTGGKIo2pKjDxNgSqVSYXZ2dsAFPAmB30TYNpbrolQ4YAFd
 Ai41h/eDBwbAWpaFbdsDm6TDz21Hgu04m3qoEMt1EbZNEDaxogb9uYxt22itSzAQr7cQoFdWVlZu
 u+02qtUqlUqF8fFxXOlgIh8tBHYsTqDDdhbWETVyALG+mQnuREQ/+P6psJ+Evl3ibUH336+N39Gn
 eYgdi6OFwEQ+QrV61tXtK4qiPBDRdx6hh8IYY4QQamFhIS+E0PF4XNbrdZRSeLaF9usYIfHSWZq1
 DczU/l7fZvw6TOHsJQkQnY3O7mv3s+3coJ+ASxHRb4WitoGXzmKERPt1RNQkiqIeyVpro7Uu0t5m
 7xEwHG0U0NBa17udKaUYiysIfQIVEs/tQZRWB7Iwpm4caKR/vu93peHP+t2ie/UTMRwr+sEvj9w+
 oIMorRLP7SFQISZsIfziQOaptW4Atd0QUKtUKr827Y0GlFLYQjPiKarldZzRGYQOEc3yZh1g+ghM
 3LBl1IdlOBHqzwUum/oOSS052+tfNMsIHeKMzlAtr2MFG6CCgbRbKfUGUAEGyuTbEVCfn59/OpFI
 EIYh9Xod3/eZSCoahUWM45AeHUcUB3Nx3nXvrhS/FlJLzFBN7d0c/eJF0qPjGMehUVjE8vMDVgYQ
 RdFLQBkI+yvEwwRooH7ixImnXdeNXNelVCoRRRHjCYWplwmiiNTMYcTaAoT+Zk6w5+gWV7iUXHVV
 CHj9wB9s9hv6iLUFUjOHCaIIUy8j/QJKbW4FGGOUUuoFYIN2EOzJdhlHMwiC5UajcRbgwIEDxGIx
 PEeTSyqK508hRyZJZ0YQi6cHK7Yf/8srAn41JJw5/IcDfYrF06QzI8iRybZuQQET1YfPKiwAF2m7
 wMAmyQABHdMIgPzy8vJTnucRBAHLy8sEQcD+XIQqvkmr1SC99wZEcQkalcHa/e99/bLgt1vw7CYG
 LE//DtXM/s2+GhVEcYn03htotRpEhQWsxhtbZhul1IkOAXX6AuAWAjqigNJzzz3337FYrGLbNq7r
 Uq1WiTuaqXRE8bUXsZJZcrkp5OnjoNVmLJi7FT71VzuC2E52E/iWZ97P8twHN/vRCnn6OLncFFYy
 S/G1F5H+CqhGd87vPlpTSj0GrLLNAYrtCDBAXSm18Nprr323e2gpDENqtRpzYxGykqe4ehFv382k
 XQf5+nGQYnNk5m6F3/9rmLl5a+M7rPUvRcaZm/6Y5b0f2mxfCuTrx0m7Dt6+mymuXsSUVrBaC9sF
 v8eB88A6Q+a/LQF9brD80ksvPSqEWO2mqVprbMtw3XRI4+TT1Bs10gdvIRY2EOdfBktu+ue+2+D+
 v4U7P7sjCcPAh8HXsvt58f3foDp2aLNdSyLOv0wsbJA+eAv1Ro3GyaexW2cwOhjON9aNMY8D87T3
 B7ccmth2c7RTG/CAGw8fPvyFI0eO/Hm5XB5IapaLgsWSx8SxT2MTUVg8i5/IYI68F5zYljZ59luw
 +Api6RW6buV5Hp7nEY/HicVivfXA8v67qY0cpJo9MNhG6CNee55Yo0Ju7joibPJPfB+rdR4RLm9J
 trTW3wL+A/glUNo1AR0SLGAcuPPYsWP/YIw5GgSDDJ+/KFhXI0x88BNYlkX14hmq0sJc/x5IjWzb
 LoBcegV7+VVs2x641q67Z8dnqG0gzhwnrRXpmetRSpH/30eR1XlkOL/dSbJzxph/BJ4ALhhj/G1x
 XqZSGwMOOI7z4WPHjv1NrVYb7xYZ21mWYWFFUmp6ZO++l0Q6g796noLfgtwsZu4GiMV3BrUb8ZuI
 xdehsEQu5hGbOkijWqH85A+QwSoyWkDrwRMrQogNrfU/Az8BTgKV4eC3WwIE7Vr60Ww2+8n3ve99
 f7GxsREbZju/Llkt2MTu+ihjc/vRfoNaOU/FGJjYixnfA8nslQGvlxHFZci/SUYIUtkJZCzB+uIF
 /Gd/ijTLCL223cj7xph/A/4HeB5YM8bsWLHZ1REZ2q7w7j179nzm6NGjD21sbMjhBU6lChdXHfT4
 DCN3fRgvmUY3y9TrZaoYtBOD7ASkRsFx23GiGytCv3MFUCtBOY8MfdIIksksMp6lVa+y8ezjkF/E
 YhFMZTvw2hjzXeAHwDPAm0Cw0+jvioAOCQ7tLeY7Dh069Cdzc3OfrlQqA6Xz9twLhaKkUrXhwBFG
 3/MBnJgHOkI3KrTCJk0BoRBb5iMLcIwhbsBz4shEBqRN6LcoHf855vwppCgjRR5jwp3APwZ8pwP+
 DXZxUmy3BAjABWaAOyYnJz914403PlCtVmPdNXc/EUEAxaJDo2HB2CTOkdtIz+7HTqSQRiNM++xg
 N1OTUiKQGCHQQhI1alSXLhC+9hKsryFlHSnzwNbzgZ02AmPMj2j7/DPAOXaY9q6KgD4SYh0Sbksm
 k3fffPPND/q+PzJcRu/eh4GgXpc0mzaBb0E8iRnNQTqLnRnDTmcAiKoVoso6VMuIUgGadaTVQsoG
 0qpjzM7nhjsB7/sd4M/THvnqbsBfEQF9JLjAFHCzbdvvPXLkyIOO4xzuniDbjoi2exj8loVSEhUJ
 lBZoJQGDEBohIoRQICKEbALqku11rgvGmO8BLwAngAV2OfJXRUAfCQ7tAwfXAbeNjY3dPTs7+xGt
 9Wir1bqk4pc6Ub6bewBjzIZS6hfAs8BLwKvACld4TviqCOgjwgZSwCxwBDg6OTn5gVwu9/4wDBPD
 22tvFXxHGlEUPW+M+SVwugP8PFDiMtH+mhPQIUHSjgujwD7geuC6XC73/lQqdcS27ekwDK0oiuhP
 oK5wtJUxZk0pdVYp1fXx1zvA12hH+t3tzFxrAjokCNqzmEfbLWaBA8A+KeVsKpW6KZFIHHIcZ0Zr
 HdNaC93571B/za4Dtlu99ZVSK1EUnVdKnaFt3ou0FzULQJ5OgfNqRn1A/7dKQK+hQSIyQI527jAN
 TNC2krRlWaO2bWellGkpZcIYI5RSDaVUTWtd0Vpv0AZXBgq01/ErtEe7RPu/Qm8ZeE/va0VAr8E2
 EZJ2oPRon8vJ9F1JIE7bdSza+3Sa9hK8RbtqU6VdvqrQJqPR+f6a/Vusp++1JmCg8U0yuoTYfa82
 m/UIQ7tYEdIuWnZfu3+eNNcaeE/Ht5OALZ1tVjyGX6FNgoF39u+z7ygB/x/l/wDEjdrFMg5Y6gAA
 AABJRU5ErkJggg==
Description: Advanced user friendly camera
 Camera+ is an advanced yet user friendly camera
 application for MeeGo Harmattan
