Source: cameraplus
Section: user/multimedia
Priority: optional
Maintainer: Mohammed Sameer <msameer@foolab.org>
Build-Depends: debhelper (>= 7.1), applauncherd-dev, libqmsystem2-dev, libresourceqt-dev,
	       libquill-dev, meego-gstreamer0.10-interfaces-dev, libgstreamer0.10-dev,
	       libgstreamer-plugins-base0.10-dev, gstreamer0.10-plugins-bad-dev,
	       libcontextsubscriber-dev, libqtm-location-dev, libqtsparql-dev,
	       libqtm-systeminfo-dev, liblocationextras-dev, libsndfile1-dev,
	       libpulse-dev, aegis-builder, cmake, libjpeg62-dev
Standards-Version: 3.9.1

Package: cameraplus
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, context-profile
XB-Maemo-Display-Name: Camera+
XB-Maemo-Flags: visible
XB-Meego-Desktop-Entry-Filename: cameraplus
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABHNCSVQICAgIfAhkiAAAAAlwSFlz
 AAABYgAAAWIBXyfQUwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAABiySURB
 VHic7ZtpkFzXdd9/976l+/Uy+46NIChCAAnKYiiSslVeZCmxQyslO2a0VfQhcZUSl1WVVOVripHy
 JUopSlSKPjkfUkmp7JBRLCmUEZdDySyJIaUQJAiABAlgMJgZzGCmp2d6737v3S0fXk/PBm4iKbnK
 eVO3MDMP/d45/3PO/yz3jnDO8Tf5kr9oAX7R1/8H4BctwC/68n+eL/vSl74kH3zwwXEp5ZwQYi5N
 00PGGJJEr2qdrCZJsrK0tLT52GOP2Z+XTOK9JMEnnngiPHTo6K8bo36/3en8TpKkU2maeqlKSdMU
 nSqMtQjR/0AminHOVoTgySRJvl2v13/42GOPpe+VjO86AE888YR318mTv5t048+22u3fajQaUavV
 QmuDtZZUpfR6PQLfp9frEccxvu+jlKZYLIJzuP7ypERI0XPO/oVJ9Z+cv3j+248//rh5N+V91wAQ
 QoiXXnrpd7rd3tfX1ivHm80WxmRKa+1IEgGiw40bC1ht6Ha7tNotfN9nbGyc5eUlxkbHiKKImZlZ
 kkTieSnWWqy1SAkCbsRJ/M++8pWvfM+9S4K/KwBcuHDh4TTV31irVB6obdUGQm+vdttnfb3MkaPr
 LC0uMjY2Bs4hpMRahzGGXreD7wcopRBimNXVSY4cuYG1Fud2ngUOo8wLOun+0X/45jefe6dAvCMA
 zp49mzt05Mgfr69V/mFlo4rtW/zAchatNcvrmyxvNlmttdhsJyQih7aW0MSM5D2mynlmynmmhkv4
 vn9A+d3LWUuaJN965dVX/uCHP/xh/HMH4Ny5c7NSemcXFpc+0O32cLcRMkkSzl27yatbMRPHTjI0
 PIHrpthuiumlmFihtEFLQSIEiS/phR6V9SVs5Tr3jHrce3icXC5/WwCsNSS9+GK91fjtxx9/fOXn
 BsCLL156QOn4fy3cWBpXSh1Qvt3ucPblmxSPnmaiMITYbKPbMS7VCMBZgzUGkyYYY1FWkmhHrAy9
 VBFbRxr4tEcjGmmT8sbLfPyucYqFwi7lt5ch7vU2W436I9/+7nd/+nZD4m0DcPHy5U82avXHl5dX
 AmPMHmHSNOXJ569QOH6G6bCMqzRxWhPgULpLp1Oj12yS9nokcYxWGq0NSmmMBed5ePkifjiEs3lq
 yhEbqEYe9aDLHe0rfPzUHEEQHPS2uKeajfpnv/vkk99+OyC8LQBefPHSA51e6/8sLd0M9ltifqXC
 +W6R980dRaw1QBsCkdBsbtCp1UhTTaoFiXKkyqC1Q2mbKa81WqUYrTEqxukYYwyyWMaJYRq2RCoF
 3dkhjK3y0WKFO2cn94aDc3Q7bVWtbP7aU08/9ZbJ8S0D8Mwzz8wFYe7C/PUb4/st/1cvvoo8fj8T
 sYBOQuhpmvUKnXqNWAlSI0iVQ2s7sLjqW18bg1Jm8HN2z9Co10g6TXxiShNTDI8doy6LpIFHazrg
 dOMFHj55BJzDOoe1Bmsd9drW1urarQ+eO3du+a2A8JZ6gbNnz+aiqHB24cbSAeX/+7OvMHTqV5ju
 QJCkYBtUb12n3erScxEpeZT1ME6gLdly20ugzPbvBNoJEu1YqzZpJwLlDxP7EzRqbVbmXyDsLjOk
 FcMrKZdHH+bspRW0MQPlrbUUS+Wx0aHhs/dNTxfeim5v6gFCCPHi+fP/9frC4uf2s/2f/eQyd9//
 a/hrLQIMndY6nWaLngkyxfRe6wIcmi0xVAoIfPBkdq/VTqg3Y+avV7j4WhWlDrYC0ilC26Q0Okp5
 /H1seSGdmRITG8/xsZOTOOcGcqk0ZX3t1hPPPPfsZ5xzb1g5vikAzzzzzEe6veRH65WNA24/evoj
 5Dc6RNJS27pJr6eIbUiq+q6uDVobDs+WufvOETzbYm1tlUqlQq8Xo/o9QZLE1Gp1oihidHSMTlLk
 1YUey+tqr7BYQl0nn/eZnD3NRlCgOV3gROVpPnTX3J4M0Wo2WV69+bFXXnnlB28UCm8IgBBC/uQn
 P33+6vzCB3cXOfM311nOH2VOB4TWUK/dpBdrYhv049yitGZyrMAH75mgubXC4o0FkrRPdMagtSZN
 U6qbVZqNJkopnMuAc9YyNTVNEE1zccGx2dwtlSPQDaKcZHzuDFteSGPM8aHu8xyfmRjIaIxhZXn5
 0vPnX3jAOZe8no5v2A7/+Mc//mSlurlH+TRNOd8ucG8U4dmUdqdCkmpSEWGcRVuLdnD/mTmmh1Mu
 XXyONE1RqRrkbaU0SRKztLyMSlOcc0gpMcaBcxhrWF1dAVY4NXeItfIE19bCgVzKG0eoTZq1eYpT
 J7FNn3PBXUx3VwnDsF9BOoaGh++96+jxR4UQ33o9L3hdEvzCF74QCCG/tr+2//7/vcKpY3fiugla
 N+h2eySi2Cc1B57kox8+RmjXePnli6hU9TlAo03G/u12i8XFRZK4h+57RJqmWSntHM5mzG6MYXHp
 BmHyGvccbiIDCb4Hvo/KT9Jut6C9QiDBC2Z4drGxR9Z8FBEVC/8GiF5Pz9cF4HOf//yjlY3qsf0V
 XuHIaaj1yIWOZr1GIgooJzIALPzqhw6zeesVVldXSFOF0hqtsn9VqqlWqywtL2OMQQiJFILtQYDS
 qp/W7K6+wlFr1GlvvMJdY1XwfPB8nB+i8lNsbdxiRHXJ9wybEx+k1tgBwVnLyOjIocNzc58VYjB1
 eHMAhBDCafO5ZrO1B9HvPX+dQyMTCGNodbZIRYDCwwDGwQdPT9GrLbC1tYVKFUYr0iTJrK8Ua2u3
 qFY3snLYZXFqnUMImXWHiL7gfRD6IWONIY5j0vpVZqIN8DzwPGwQocMSjeYqOU+SE0O8UNkhwWar
 SS6fJxeEnwGCtwzAo48+WkxS9VGzK/aTJGHmfffhmjGBb+i02igZDXL6+FiBmVKPlZsrmdtrRZoq
 dN+9r1+/Tr3RwFoHuH5ry+B7IQRSSqTMRBKIPgj99GYsrXaLQvIakd8F3wffx0TjtJsNyqpJYCWt
 qQ/Qbrcx1vZrBEuxVPpIqVQauZ0XHABACCE+9anPfqzZbOZ3W//ca0uMD4/jrKXdbaBkDuUkhqzA
 uf+uIS5duphZW+t+na/pdbtcuXKFJEnAZcrjwFqHEJmiWRBkX+AQ2Q0EYK3BOYfpg7C1tcWYvjLw
 AufnMPlhWq0KgRD43ggLm12kFKRJQqpS8lEUlgql3yJ75Jt7QKGQ//1Wa5f7O8ul1Raupwl9Safb
 QclcP+4dh6cLtDaXUEplsz6t0EbTarWYn5/vx/tOrFtnGRhDwPZQ0JosfRqbpcK+QXbmAv2wUK0V
 Cm5zAILJDdHutBiyhkDDmh0iDEOiQkS73SYXhuRzwe/eLgxuB4BnrP3b2zO87WHG0OyduESjTYKy
 oAgGJexdsxGLi4topTLltaHT7rCwsJBZz5jMxs7hHDjrkFIgRfZ61ycsz/MIg5AwDPE8L+MGGFR5
 zmZeEsc9htTSDiGGRYz0caqF9H3U6AniOMYai3DZ56Oo8KtAuF/ZAwAcPnw4UEqPbytvrWX5VpXj
 x45jlKWXtNEyRANGgPQlQbqFShOMMRhjSZKUpaWlPTEdBCG+H+BJied7SCFxOMbHx/E8L7sf+Pi+
 v4cPskwh2Z3GHeD1VpCe66dFD5cv00saeFIiizNsNnukSYJSqj9TlCNAYT8PHADg05/+9IxSSm4r
 76xleaOBsA7hQS+OSUWYxb4TzI6GrK3dGkx9rbXMz19DaT2Y7mZFTta0GGsoFosYa5mdnWWzupll
 BJtVh845doIl44ltPtjNGUnSo2B20qINS8RJTCjAM1BPHblcDuss3W4XKaUcLgwf3q/vnkpQCCG+
 +tWvHklVuqeuXtmoc9cxh28dqTZoX6KsQzso5wWba9VB+Tk/P0+a7ozxnbNIKfZa0Dk++5nP8MAD
 fwuAjWqVr3/96+AczebOCF0IiaAfKiJ7hufJjOG1ITTNjAcAF4ToxFESDukEXePt4pkMND/yj9Ll
 PDBokA54QBRFR9I03dP4VJs9tLI44Ui0QZOxv0EQepZOt4u1loWFBTrd7kDJ/tsBgXN24BFf/OIX
 efDBD+EHAX4QMD09zd/7xCdoNJsIKfD9TCmlFMZZEGQgZAkEARhr8Fw8SIcEOTQODwfSI3EBWuuB
 YRACX8rD7MsEBwDwfX9OD+r2fg3gQow2WGcxzqGFn/XyDjwU1lhWVlZoNJtYYwZq79QRBhwMD49g
 tGFifBzpeXj9JaXkQw8+yOzMDFprADzPy4DoDzy2remsZRtaz/R20mGQAymRRiM8ifGzcYA1Fq0V
 ApBSzu3X+QAAWmth9szbsuZEG4e2/dW3vkFm05tGnWo1G4tvM7bSOgNjl/DV6gZzh+Y40JX0mXpl
 ZYXRkZFBubANhNz2KJGVEjs8JgcckC0PJwVOiH6tYTMy3a4wnZNv6gGbm/WKEAyUt9aScwrlHMoI
 jMssq8kqwFbqWFpa2tGl73JC0I/VrCiy1uJJj1urt3j++ecHrmlMRozVjY0MpM1NtFb9EOpzx7bC
 /W89mYWIyRUHHiCEAymxQQ5nHDJtD56PEBhjscZs7tf3NgBUbgED5Z21jEQexmUEaABtbdYAIbi8
 soXneSiVDtx1+8VSChBZSatNxvClconvfOc7rK+toZRCpSnPPfsc/+5rX8M5h+95fa6w/cows/q2
 B/h+xttSSkxY3uEAAdL30Z6PM4bAJv0mTA0MkBqzvuNb2XVgHnDt2rWV97//NJVKhcr6GseP38nU
 SJFUazACh8RYg/FDKq2EVmyZLZXodDp9YV1GoLg+i4OQAk9meb9eq+NwfPnL/xrrLIfm5lhZWaFU
 KmMzTQHQWiOlRz6fBwRxr0cc98jnIzrdDoEfEEeTgywAFt8PUVJinSEvUqT0KRVKWJsZQPXUKrBn
 3nbAA55++umKc86OjoygtSaOY2ZGC2xsNYiVxRceRsXEGm7WeyzERUZGxzOr9+PeuYyu3a5iyhi7
 pwK01jA6OsrKygpSSprNrIihXzeMjY1z8uTd3HvmDPeeuZdTp05x9OgxpmemsdYS5vJ0R04M4l+Y
 hCjMEUsPaxSRSOn1YtqdNi5ruGwn6azv1/eAB7Tb7USptAGMjo6OATA1WmbluXlKd3+Akp9Htxpc
 rfs4z0Ph0SkcBS7s6R2c3SE/IcB5blAPGGvBQW1rCwBjMq7wfB/f8zh2xx1MTkwwMTFJLheSpopW
 s0lUiPD9gKtXr2InTmLD/I4l0zb50igt63CtW5RCLxuzsT0sNR2gs98D9gDgnHNCCFWrbT0bBPm/
 Ozw8TKfTYWhoCFdfRHEfmoi1zUVSPwdhlmpe09McnZzi1q1bB0GQGSOnadovbQWe74MD3c8SWQWY
 hfKxY3dwxx13MDU1ydDwMJ6UxHFCGIYMDQ9x6dIlonye5uz9mfUBkXYBh42Gsb0EWbuGF3kYZ1GJ
 xllLkqYv9QHYwwG3a4bUjRs3vu9JSbfbpVbbpN1uc++hiF7cZa2V0u2kiKQ5YOBlxglm35+5u8s6
 N2fdYJix3e9nrE6fJPVgayyLd8GhQ4c4evQIhw4fYmZmlonxcYaHRyiVipTLJcbGxmg0GvjTd9Md
 P7mTAZIm5VyOepDDdNuU0zWssyiVIvvdZLcbPw309it7OwDMk08++b8dTpXLZZaWlkmSmDMnZlhf
 XuTqzRql4iiiWwNnBkJczJ3m8NzhQa9v+5Wf1pmySqmdbjHtM7PJJkXOOYqlEjMzM0xMTjI6Mkq5
 XCKfzxOGIVJKpmdmuHbtGkkvZuvE3xm8F2cQ3Rql4hgagW2tM5bTJEmCQGRZxVrd6rR+CMT7h6O3
 A8BVq9WNra2t89ZaPvzhDzM0NEQul8erXSZRPbbSHENBiGxXBmloM5xk7dCvUC6VBiXvdjgMhiRa
 oVK1a0CqUP30ODYyQrlcplQsEgQBXj8dpiplaHiYyvo61Y0q63MfIR47PnivbFcYCkK2CiOY6iZB
 5QXCMERrhelXlalSV7TWNwH9ph7QR6i7trL6PSmh1+tx6dJF2u02v/3AUVx9mcQ5isUx6NZBxwNr
 XBu6D3HilwnDAGfsdkbD9U+BbE+HlUoH7u+MxWiDH4T97OAwRtOLY7q9HsVCgZs3b3LhwkUW7ATV
 47++Y30dQ7dOsTxBYsFUF5mRG6RJsqcV78a9HwBV9hHg63kAgHrifzzxrSSOt8IwJIoKVKtVisUC
 d/gr2F6bzZ5kIoyQ1cXsE/10dHnuN8md+g0KhUL/dIfp1wHeYOy1fSxme4NkuxpMVEq322H7fFEh
 injpwgUuXbjIfDrM1eOP7JS9gKwuMhFGbOaL2LV1wspPiXIhth96vu9jrG1u1mqPA+3b7Q28HgAu
 juPqxUsXvwGO6elput0OlUqFjz9wHLl1nVRAkpugjEVuXAcvm9nbIOTKiU8Qf+CTDA8N46wbuHyp
 WKRcLhOEQZYdslfhnKPbbqPSlDAMGRsbpdFo8IMf/IBrr13lBY7y0rFHcGEuG4B4ErlxnTKWZOww
 aTvFblxlLmxircX3PPK5HACNZuNPgAXgtkftXndrTAjhAXf+03/yh0/lo+jI4uINcmGO8fFxrizc
 5C+XJ/COnGKs4NHqrBOXx3BTJ3bqdiCqLzJ28c9QNy8RxzGOrK3N5/OMjY9RiCLCXI7h4RE836Nc
 LKG0otvp4JyjGU5wafwhmkPHdpnGISrz5FtblEfm2NISfflFxtfPMloM9swdlFLrS6srnwZ+6pzr
 vl0ABFD68EMP/eOHHv7lf7//RMaPzl3hZXsGb+4ok5FHvbtBEpVxs+8Db+/ssbB2iaHrP0IuXyBN
 emit+mNxse0DSCkJ/ICoUMQcPkPj+EfoTN+7VyijELeukuu1GClNsuHnMK9cprD0PebKsF+Xytbm
 v221Wt8AVp1ztz19+qabo8CRT/2DT/3p5OTkw4MZfb+TO/vcPLdKDyKmZxkv+CTdDVpBiJu7G/Kl
 A8+TOqGw9jJhYxWvV8fr1jK9CqOYaIR0eI7uzD1YP3dQmLiNWL1CWaXkhmfYROKuXCe48ecciVoH
 /3sSX1pZW/sD4PwbbY6+lfMB+SiK7v/7n/y9b5eGyjO7u0RtDH/x0xus5T6AvOMEpbxHLt6kioWh
 SdzkUQhuo8zbuVSC2FiC5gYTSJLhGdqpxV6+TLj6FIejFvv3O5TWmytrt/7IGPOXwNbPvD3eB0AA
 w7Ozs4/85m989I/zUSHaPpNjbTYFfu7Cda6p9yNP3EuQ8xgPHZ24QVN6MDqNG5qC6KBHvOHVayOa
 FaitM2QNxWiYzSBCNWPsqy9R2HiK2ds80lqbrKyvPZam6ePAsnPuQO5/WwD0QZDA9PtOnPhHDz30
 8JeDMCd3H0ux1nLtxirnNiZxUydhdoZc4DMmenSSNi0psX4I5XEoDoEf7iwAne6sThNam0idUraW
 Yq7EVm6IRBlYWMKtvcp4+7kDhAfgnLOV6sY3293ufwJeeyPXf1sA9EHwgaNn7rnnn586dfoPc/lI
 7iZFZ7Px87OXK2x6dyMO3w2Tk/iBZMRzeGmHRMf0hEAJgdm3SeU5CJwjco6cn8dEJeoiQBsLS7dw
 N18jrJ1jLmrj+/5tla/V6/+t1mx8HbgI9N7KIam3dUxOCBECx44cOvL5M2fu/RdDwyP5wQBk16o1
 Grww36WVvxvGDsHUFKIYIQOfvHAEOHwJsk/MVnpoC0oIYuFhlcG12rC2Dls3CeoXmcltZUVO//DD
 7stam2xsVv9zu9v9L33lb1v0vGMAdoFweGho6JFfOnPfv5yYnJqUUrI/TWbnCdos3Gqy1olQ0REo
 H4ZSEaII8jkI++kyVRAn0OtBuwPNm8juDcp2g7GCJQzDAcj75VVa19Y2Kv8xTdPvA6+8HeV/JgD6
 IPjATOh5D586fc+/mpmeuScfRXsaoIFX9M8BxHHMZr1DvWvppoLE+BiZDTSk6RIIRd5TRJ6hlM/G
 5dvDjNdTvpfEV9YqlW9Ya/8KuM5bdPt3DEAfBA8YAU6Nj48/enh27jPj4xOT+Sjao/x+nridp+y9
 5/Z89nbKp0ptbTXq3+t0Ot8FXgTWgPRnOTr/jo7L91NkBMwB902Mjj06NTX1yPj4eDmXz9/eI96B
 8tqYTq1Rf6rZav1P4DwwDzTf7CzgewbALhA8oAQcAU6PDg//XrlYenBkdPRIPoq8XBjuAePtKG+t
 NUmarna6nfP1ZvPPyUjuOrDFz2j1dxWAwYN2gCgDs8AdUsq7S4XSw6VS4ZfKpfIx3/dzUmbHorY3
 LLcnxruUd8boJI7j5Xa393Kn23neWjtPZu2bQA1I/lr9ycyeB+4AkQOGgQlgBpgCJkI/nPJDfzrw
 vFHP88qAMMa0lDENnepKqtMNYJNsgLEOVMiU7gLq3VJ8IO+7DcCeh++AEZABEvVXnuy0xvZU2pL1
 6wnZ4LIHxP3fGbJB1Xsi6HsKwJ4X7e1YDmxSAm7X4r1S+IBcPy8A/rpef+P/dvj/AaKDe+DlT1L4
 AAAAAElFTkSuQmCC
Description: Advanced user friendly camera
 Camera+ is an advanced yet user friendly camera
 application for MeeGo Harmattan

Package: cameraplus-dbg
Architecture: any
Section: debug
Priority: extra
Depends: cameraplus (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for cameraplus
 This package contains the debugging symbols for cameraplus.
