#!/usr/bin/make -f

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_INSTALL_PREFIX=/usr -DPLATFORM=harmattan

override_dh_strip:
	dh_strip --dbg-package=cameraplus-dbg

override_dh_builddeb:
	dh_builddeb
	aegis-deb-add -control debian/cameraplus/DEBIAN/control .. debian/cameraplus.aegis=_aegis
